[Unit]
BindsTo=prowlarr.service

[Container]
ContainerName=flaresolverr
Environment=LOG_LEVEL=info
Image=ghcr.io/flaresolverr/flaresolverr:latest
Pod=torrent.pod
PodmanArgs=--interactive --tty

[Service]
Restart=always

[Install]
WantedBy=default.target
