[Container]
AddDevice=/dev/dri:rwm
AutoUpdate=registy
ContainerName=jellyfin
Environment=PUID=0 
Environment=GUID=0 
Environment=TZ=Etc/UTC 
Environment=DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
Image=lscr.io/linuxserver/jellyfin:latest
PodmanArgs=--interactive --tty
PublishPort=8096:8096
PublishPort=8920:8920
PublishPort=7359:7359/udp
PublishPort=1900:1900/udp
Volume=/opt/jellyfin:/config:Z
Volume=jellyfin-cache:/cache:Z
Volume=/data:/data:z

[Service]
Restart=always

[Install]
WantedBy=default.target
