[Unit]
Description=ProtonVPN Container
Documentation=https://github.com/tprasadtp/protonvpn-docker

[Container]
AddCapability=NET_ADMIN
ContainerName=protonwire
Environment=PROTONVPN_SERVER=node-us-366.protonvpn.net
Environment=DEBUG=1
Environment=KILL_SWITCH=1
HealthCmd=protonwire check --container --quiet
HealthInterval=120s
HealthOnFailure=kill
HealthRetries=5
HealthStartPeriod=60s
HealthTimeout=90s
Image=ghcr.io/tprasadtp/protonwire:7.5.3
Notify=true
Pod=torrent.pod
RunInit=true
Secret=proton-wireguard,type=env,target=WIREGUARD_PRIVATE_KEY
Sysctl=net.ipv4.conf.all.rp_filter=2 
Sysctl=net.ipv6.conf.all.disable_ipv6=1
Timezone=local
Tmpfs=/tmp

[Service]
Restart=always

[Install]
WantedBy=default.target
